﻿.inner-wrapper {
    padding-top: 5px;
    float:left;
    display: inline-block;
  width: 200px;
  height:300px;
  text-align: center;
  overflow:hidden;
  border: 1px solid grey;
  border-radius: 3px;
  vertical-align: top;
}
article {
    width:100%;
    height:auto;
}
#comicsPageNumberContainer {
clear:both;
}
#inner-div {
padding-top:15px;
}
#inner-div input {
    text-align:center;
}

@media screen and (max-width: 600px) 
{
  .inner-wrapper
    {
       max-width: 100%;
    }
}
