﻿
#comicContainer
{
  background-color: #ddd;
}
article
{
  display: inline-block;
  max-width: 300px;
  text-align: left;
  padding: 30px;
  background-color: #ddd;
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;
}
aside
{
  display: inline-block;
  max-width: 600px;
  text-align: left;
  background-color: #ddd;
  border-radius: 3px;
  margin: 15px;
}

@media screen and (max-width: 600px) 
{
  article, aside
    {
       max-width: 100%;
    }
}