﻿body {
    margin-top:30px;
    margin-bottom:30px;
    margin-left:100px;
    margin-right:100px;
    max-width:1020px;
    background-color: lightgray;
}

header {
    margin-bottom: 15px;
    text-align:center;
    color:white;    
    padding: 10px 0px;
    background-color: #A2B1C1;
}
.header a {
    font-weight:bold;
    font-size: 20px;
    text-decoration:none;
    float:right;
}
.clear-both {
clear:both;
padding:5px 0px;
}